.dl {
  position: relative;
  padding: 20px 0;
  height: 120px;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #ccc;
    transform-origin: 0 1px;
    transform: scaleY(0.5);
  }
  dt {
    float: left;
    width: 106px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  dd {
    padding-left: 118px;
    h3,
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0;
    }
    p {
      margin: 5px 0;
      color: #999;
    }
    .price {
      margin-top: 5px;
      color: #fa5741;
      span {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}
.dl:last-child::after {
  content: '';
  height: 0;
}
