.tag {
  display: inline-block;
  font-size: 12px;
  border-radius: 3px;
  padding: 4px 5px;
  margin-right: 5px;
  line-height: 12px;
  background: #e1f5ed;
}
.tag1 {
  color: #39becd;
}
.tag2 {
  color: #3fc28c;
}
.tag3 {
  color: #7c8eef;
}
